USE [master]
GO
/****** Object:  Database [bdVendasBCCTN]    Script Date: 31/10/2024 21:53:51 ******/
CREATE DATABASE [bdVendasBCCTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdVendasBCCTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdVendasBCCTN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdVendasBCCTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdVendasBCCTN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdVendasBCCTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdVendasBCCTN]
GO
/****** Object:  User [usuarioBCC]    Script Date: 31/10/2024 21:53:51 ******/
CREATE USER [usuarioBCC] FOR LOGIN [usuarioBCC] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuarioBCC]
GO
/****** Object:  Table [dbo].[tbCliente]    Script Date: 31/10/2024 21:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cpfCnpj] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[telefone] [nvarchar](50) NULL,
	[endereco] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbCliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbFuncionario]    Script Date: 31/10/2024 21:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbFuncionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cpf] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[cargo] [nvarchar](50) NULL,
	[salario] [decimal](18, 0) NULL,
	[DataAdimissao] [datetime] NULL,
 CONSTRAINT [PK_tbFuncionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbItemVenda]    Script Date: 31/10/2024 21:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbItemVenda](
	[produtoId] [int] NOT NULL,
	[pedidoId] [int] NOT NULL,
	[quantidadeProduto] [int] NULL,
	[precoUnitario] [real] NULL,
 CONSTRAINT [PK_tbItemVenda] PRIMARY KEY CLUSTERED 
(
	[produtoId] ASC,
	[pedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPedido]    Script Date: 31/10/2024 21:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[funcionarioId] [int] NULL,
	[clienteId] [int] NULL,
	[dataPedido] [datetime] NULL,
	[valorTotal] [real] NULL,
 CONSTRAINT [PK_tbPedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProduto]    Script Date: 31/10/2024 21:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProduto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[descricao] [nvarchar](50) NULL,
	[quantidadeEstoque] [int] NULL,
	[unidadeMedida] [nvarchar](50) NULL,
	[precoUnitario] [real] NULL,
 CONSTRAINT [PK_tbProduto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
